.cover{
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;

  background-image:url("/bgcaixa.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
  
}


.container{
  margin: 0 auto;
  width: 1050px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.container1{
  margin: 0 auto;
  width: 500px;
  /* background-color: royalblue; */
}

.container2{
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
}

