.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-items: center;
  align-items: center;
}

.MainCards{
  display: flex;
  justify-content: space-between;

  margin: auto;
  height: 20vw;
  width: 50vw;
}

.card{
  background-color: red;
  width: 5vw;
  min-width: 5vw;
  height: fit-content;
}